<!DOCTYPE html>
<html>
<head>


  <title>Foundation View | <%= @page_title || "application" %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.png' %>


</head>

	<%= render(:partial => "shared/header")%>

<body>

<%= yield %>

</body>

<% if false %>
<div class="footer">
Foundation View Capital | 712 Fifth Avenue, Floor 8, New York, NY 10019
</div>
<% end %>

</html>
